<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">
<!-- 将user对象交给spring管理，并注入值类型 -->
<bean name="user" class="com.catherine.bean.User">
	<property name="u_id" value="1"></property>
	<property name="u_username" value="老王"></property>
	<property name="u_password" value="123"></property>
	<property name="u_pet" ref="dog"></property>
</bean>
<!-- 注入引用类型 -->
<bean name="dog" class="com.catherine.bean.Pet">
	<property name="petType" value="二哈"></property>
	<property name="color" value="灰白"></property>
</bean>
<!-- 构造方法注入 -->
<bean name="user1" class="com.catherine.bean.User">
<!-- name是调用构造方法的参数名称 value是注入值类型，ref是注入引用值类型-->
<!-- type是指定参数的类型 -->
<!-- index是指定参数位置 -->
	<constructor-arg name="u_username" value="66" type="java.lang.Integer" index="0"></constructor-arg>
	<constructor-arg name="u_pet" ref="dog" ></constructor-arg>
</bean>
<!-- 复杂类型注入 -->
<bean name="collection" class="com.catherine.bean.MyCollection">
	<!-- array -->
	<property name="array">
		<array>
			<value>123</value>
			<value>abc</value>
			<ref bean="dog"/>
		</array>
	</property>
	
	<!-- 如果array只有一个值，则可以 -->
	<!-- <property name="array" value="123"/> -->
	<!-- list -->
	<property name="list">
		<list>
			<value>123</value>
			<value>abc</value>
			<ref bean="user1"/>
		</list>
	</property>
	<!-- set -->
	<property name="set">
		<set>
			<value>123</value>
			<value>abc</value>
			<ref bean="user1"/>
		</set>
	</property>
	<!-- map -->
	<property name="map">
		<map>
			<entry key="username" value="root"></entry>
			<entry key="password" value="123"></entry>
			<entry key-ref="user1" value-ref="dog"></entry>
		</map>
	</property>
	<!-- property -->
	<property name="properties">
		<props>
			<prop key="name">老李</prop>
			<prop key="age">25</prop>
		</props>
	</property>
</bean>
</beans>